<!doctype html>
<html>
<head>
  <title>Client dashboard</title>
</head>

<body>
  <div>
    <h1>Client Dashboard</h1>
    <a href="/meetings/book">+ Book meeting slot</a>
  </div>

  <% if (meetings.current.length > 0) { %>
  <h3>Current meeting</h3>
  <div>
    <% for (var m of meetings.current) { %>
      <div>
        <time><%= m.start_time %><time> -
        <a href="/meetings/join/<%= m.id %>">Join meeting</a>
      </div>
    <% } %>
  </div>
  <% } %>

  <h2>Upcoming meetings</h2>

  <% if (meetings.upcoming.length > 0) { %>
    <div>
      <% for (var m of meetings.upcoming) { %>
        <div>
          <time><%= m.start_time %></time>
        </div>
      <% } %>
    </div>
  <% } else { %>

  <p>You don't have any upcoming meetings. You can <a href="/meetings/book">book a meeting</a>.</p>

  <% } %>

</body>
</html>